[2013-09-28 23:49] kevinburke opened #3 "Wrap tests when they extend past the line"
See for example

https://www.monosnap.com/image/iTFfmlZhxdtpbDMweSGaOO6dd

It goes a little crazy when the line extends into the percentage

[2013-09-28 23:49] kevinburke opened #4 "Does this work with nosetests?"
Can you run pytest-sugar with nose? If so how do you integrate it?

[2014-02-01 03:21] #4 closed, assigned to nobody

[2014-02-05 14:09] #3 closed, assigned to nobody

[2014-02-05 22:20] msabramo opened #23 "Possible to make pytest-sugar not be a fork of jpvanhal/pytest-instafail?"
I think folks at my work were able to reset their repos to no longer be forks by clicking a button in the repo settings in GitHub Enterprise. Presumably public GitHub has something similar?

It's a little annoying every time I submit a PR that the default target repo is jpvanhal/pytest-instafail and I have to change it.

Eventually, someone is probably going to send a PR to the wrong repo.

[2014-02-05 22:58] msabramo opened #24 "pytest-sugar 0.3.0 on PyPI missing README.rst"
[code]

[code]

No README.rst

[2014-02-06 16:19] #23 closed, assigned to nobody

[2014-02-06 16:45] #24 closed, assigned to Teemu

[2014-02-06 16:51] Teemu opened #29 "Missing tests"

[2014-02-08 13:40] Teemu opened #30 "Support for different reporters"
We should implement support for different reporting styles. A great example where this is already implemented is  [Mocha](https://github.com/visionmedia/mocha/tree/master/lib/reporters).

[2014-02-13 16:03] msabramo opened #31 "Update web site with contributors"
Maybe update the web site: http://pivotfinland.com/pytest-sugar/

with the longer list of contributors: https://github.com/Frozenball/pytest-sugar/blob/master/CONTRIBUTORS.rst

[2014-02-13 16:07] msabramo opened #32 "Possible to convert live video into animated GIF?"
I wonder if the cool animated video at http://pivotfinland.com/pytest-sugar/

could be converted to an animated GIF?

Because GitHub, as far as I can tell, won't let us embed a video in a README, but you can embed an animated GIF and that would let the GitHub page have the sexy video.

I think I tried to convert it myself using one or two Web sites and it crapped out (maybe because it's too large?

[2014-02-18 11:54] oskarihiltunen opened #34 "Using pytest.mark.xfail throws an error"
Decorating test functions with `pytest.mark.xfail` should cause them to be skipped (and preferrably show some kind of a skip icon), but instead throws an error.

Example file `test.py`:

[code]

Output of `py.test test.py`:

[code]

Output of `pip freeze`:

[code]

Output of `py.test test.py` when pytest-sugar is not installed:

[code]

[2014-04-02 00:42] msabramo opened #36 "http://pivotfinland.com/pytest-sugar/ busted?"
Hey @Frozenball:

I think http://pivotfinland.com/pytest-sugar/ is busted -- it's returning a 404 for me.

[code]

[2014-04-02 20:29] #34 closed, assigned to nobody

[2014-09-14 16:04] #36 closed, assigned to nobody

[2014-09-16 11:45] fschulze opened #37 "Fails with --lf option of pytest-cache"
When using the --lf option of pytest-cache to only run tests that failed last time, this exception is raised:
[code]

[2014-10-10 20:29] solashR opened #40 "when execute with --verbose only the first test name is written"
example:
Test session starts (platform: linux, Python 3.4.0, pytest 2.6.3, pytest-sugar 0.3.4)
plugins: sugar, pycharm

eft/ut/test_logger.py::TestLoggerInit::test_basic
   eft/ut/test_logger.py ✓                                                                                                                                   33% ▉▉▉▍▉▉▉▉▉▉▉
   eft/ut/test_logger.py ✓✓

[2014-11-05 15:49] ktosiek opened #42 "UnicodeDecodeError if the crashline contains non-ASCII characters"
I have tests that failed with `assert 'OCZEKUJĄCY' == 'Nieaktywny'` as their crash line. This breaks pytest-sugar:

[code]

I tried just using `.decode(locale.getpreferredencoding(), 'ignore')` on the result of _getcrashline and it works, if that sounds like a good solution I can make a PR.

[2014-11-07 12:37] deni64k opened #43 "UnicodeDecodeError: 'ascii' codec can't decode byte 0xc2 in position 1064: ordinal not in range(128)"
Tried to install it on Python 3.4 and I got this:

[code]

Also, I found out where strange characters are:

[code]

[2014-11-24 04:07] kman0 opened #46 "Gibberish stdout in win 8 32 bit py34"
Terminal color codes are not properly reflected when using pysugar in windows.

Sample output:

Test session starts (platform: win32, Python 3.4.0, pytest 2.6.4, pytest-sugar 0.3.4)
plugins: sugar, instafail

   test_sugar.py \r   \x1b[1;30m\x1b[0mtest_sugar.py \x1b[92m\u2713\x1b[0m                                            7% \x1b[92m\x1b[100m\u
   test_sugar.py \r   \x1b[1;30m\x1b[0mtest_sugar.

[2014-11-26 19:09] #31 closed, assigned to Teemu

[2014-11-27 06:00] #40 closed, assigned to nobody

[2014-12-04 17:35] #43 closed, assigned to nobody

[2014-12-04 19:04] #46 closed, assigned to nobody

[2014-12-05 17:20] aljosa opened #52 "xdist options generate different results"
"py.test -f tests/" on left vs. "py.test tests/" on right:
can't figure out why results are different so i'm guessing it's an issue?

![sugar-xdist-issue](https://cloud.githubusercontent.com/assets/31008/5319614/1b08e070-7cab-11e4-9618-4190fb2d9b6c.png)

[2014-12-12 22:11] #32 closed, assigned to Teemu

[2014-12-14 21:42] #42 closed, assigned to nobody

[2014-12-14 21:46] msabramo opened #53 "Look at "progress" module on PyPI"
pip git develop is vendoring progress==1.2 to display a download progress bar. Theirs is ASCII but it looks to have an `IncrementalBar` class that looks like it might be similar to pytest-sugar's.

https://pypi.python.org/pypi/progress

Wondering if it might simplify pytest-sugar or handle anything nicer.

[2015-04-01 16:42] mbr opened #56 "Skipped tests are not shown if skipping is due to fixtures"
If a test is skipped due to a fixture causing the skip, the test is not shown at all. Here's a minimal example, ``test_simple.py``:

[code]

The output from ``py.test -v test_simple.py`` without ``pytest_sugar 4.0`` installed:

[code]

With sugar, however:

[code]

Note that ``test_with_skipfixture`` is missing.

[2015-04-22 13:03] icemac commented on #37
As #39 is merged this issue can be set to solved.

[2015-04-22 13:07] icemac opened #58 "xpassed shows up green"
If there is an xpass (expected failure which unexpectedly passed) it shows up in green color in the results  like the passed tests.

Expected behavior: Handle xpass like fail but count it separately.

In constrast xfail looks like a fail but it should look like skip in my opinion.

[2015-05-26 20:39] ulope opened #60 "Output garbled under tox 2.x"
When running under tox >= 2.0 the output shows raw escape sequences.
It might well be a tox bug but OTOH pytest's own colored output works just fine.

Example output:
[code]
(I added a linebreak after each `\r` to increase readability)

[2015-05-27 07:08] RonnyPfannschmidt commented on #60
this is probably related to tox 2.0 environment isolation

[2015-05-27 07:08] icemac opened #61 "--nosugar does not completely disable sugar"
When running the tests in Jenkins with the --nosugar option it displays the escape sequences to render the test passes or failures in color. This is not the case if pytest-sugar ist not installed.

[2015-05-27 07:46] Frozenball commented on #61
Thanks for letting me know.

[2015-05-27 10:51] RonnyPfannschmidt commented on #61
shoulnt -p no:sugar fix it as well?

[2015-05-28 06:11] Frozenball commented on #61
Shouldnt we just get rid of the --nosugar and replace it with -p no:sugar?
On 27 May 2015 13:51, "Ronny Pfannschmidt" <notifications@github.com> wrote:

[2015-06-01 13:13] fgimian opened #62 "Plugin not grouping tests by file"
Hey there, this plugin is just awesome, but I'm having some dramas with it.

Unlike the demo animation, I can't seem to get it to show multiple ticks against a single test source file.  I am using `@pytest.mark.parametrize` to run tests against multiple parameters and I wonder if this may be the problem:

![image](https://cloud.githubusercontent.com/assets/1811813/7913491/c534951e-08b3-11e5-8189-8

[2015-06-01 13:25] fgimian commented on #62
Hmm, seems to actually also happen to the tests which don't use parametrize:

[code]

[2015-06-01 13:36] fgimian commented on #62
I found the cause, it was due to the `-v` option in py.test.  It might be worth mentioning that in the docs :smile:

[2015-06-08 10:48] icemac commented on #61
+1 to remove `--nosugar` but documenting `-p no:sugar`.
I learned this option from the  comments in this ticket and it works like a charm. (Thanks @RonnyPfannschmidt )

[2015-06-12 11:20] ulope commented on #60
Looks like this has been fixed in tox >= 2.0.2

[2015-06-12 11:20] #60 closed

[2015-07-13 16:01] thedrow opened #64 "Doesn't work with pytest-xdist"
I'm getting:
[code]
I'd rather have a responsive CI than a pretty looking log output but if possible I'd like to have both.
Any idea what's broken here?

[2015-07-13 16:06] thedrow commented on #62
@fgimian If this is resolved then the issue should be closed. Can you please clear it off our table? Thanks :)

[2015-07-13 17:09] RonnyPfannschmidt commented on #64
from the looks of it the plugin doesn't disable itself on a slave node

for easier ci turnaround you can use `py.test -p no:sugar` to completely disable the plugin
my current guess is that the plugin should work fine if it does the turnaround with disabling itself if there is a `config.slaveinput`

[2015-07-13 23:16] thedrow commented on #64
I'd rather override the xdist output and get the sugered output instead.

[2015-07-14 05:18] RonnyPfannschmidt commented on #64
a xdist slave has no output, only the master has,

so teach sugar only to do output on the master

[2015-07-14 10:00] fgimian commented on #62
Sure, really sorry about that, I forgot to close it :smile:

[2015-07-14 10:00] #62 closed

[2015-09-21 18:48] matclab opened #68 "xfail test is not reported as such if parametrized"
[code]
doesn't appear in the results (neither with an 'x', neither in the summary as xfailed).
But the following test does:

[code]

[2015-09-22 10:04] RonnyPfannschmidt commented on #68
does this happen with plain pytest as well?

[2015-09-22 11:34] matclab commented on #68
No, I noticed this when I ran `py.test -p no:sugar` and then I got 3 xfailed test, whereas I got only 2 xfailed test reported with sugar.

I also use a bunch of other plugins:
[code]
Tell me if you're not able to reproduce. I can investigate a bit more with some directions on where to look.

[2015-09-22 12:05] RonnyPfannschmidt commented on #68
im not working on pytest-sugar myself, i just wanted to see if it was related to pytest itself

[2015-10-10 17:33] The-Compiler opened #69 "Teardown errors not shown in summary"
With this `test_foo.py`:

[code]

When running normally I get:

[code]

With `pytest-sugar`:

[code]

This is with 0.4.0 and pytest 2.7.3.

[2015-10-12 13:00] Natim opened #71 "pytest-sugar 0.5.0 fails with Python 3.4"
pytest-sugar==0.5.0

See https://travis-ci.org/mozilla-services/syncclient/jobs/84911659

[code]

Please release 0.5.1 ASAP with a fix.

[2015-10-12 13:02] Natim commented on #71
tox -e py34 with current master does not have them passed.

[2015-11-05 18:57] wcooley opened #73 "Be friendlier w/_pytest.pytester"
When testing fixtures using `_pytest.pytester` with _pytest-sugar_ installed, it is necessary to explicitly disable with `-p no:sugar` in order to match output from a `testdir` fixture, like the example in the [pytest plugin for cookiecutter](https://github.com/pytest-dev/cookiecutter-pytest-plugin/blob/master/pytest-%7B%7Bcookiecutter.plugin_name%7D%7D/tests/test_%7B%7Bcookiecutter.plugin_name%7D

[2016-01-27 12:09] m3talstorm commented on #58
+1

[2016-02-06 15:04] patrickdepinguin opened #75 "tests skipped with pytest.mark.skipif not shown at all"
If I use pytest.mark.skipif for a test, the test is not shown as
'skipped' with pytest-sugar, while regular pytest does.
If I use nose.plugins.skip.SkipTest from a test instead, pytest-sugar
_does_ see it as skipped.

Example code is the following:

    import pytest
    import nose

    def test_foo():
        assert True

    @pytest.mark.skipif(True, reason='testing skipping')
    def test_skip

[2016-02-19 14:21] patrickdepinguin commented on #75
ping?

[2016-03-04 16:08] blueyed opened #76 "Missing "short test summary info""
When using pytest-sugar, the "short test summary info" is not displayed:

[code]

Also, I've noticed a difference between using `--nosugar` and `-p no:sugar`: `--nosugar` would still display `⚫✓` instead of just `s`?!

[2016-03-04 19:41] blueyed commented on #76
Fails seem to be displayed as expected - otherwise this would have been reported / noticed before probably already.

[2016-03-16 20:45] #64 closed

[2016-03-18 20:00] Frozenball commented on #75
I can confirm this issue.

[2016-03-19 13:27] icemac opened #80 "UnboundLocalError when used together with pytest-rerunfailures"
I am using pytest-sugar together with pytest-rerunfailures (version 1.0.1) and marked a test using `@pytest.mark.flaky(reruns=3)`. When this test ist run again because it failed I get the following internal error:

[code]

[2016-03-19 13:38] icemac commented on #80
Version 0.05 of pytest-rerunfailures does not trigger this error. So it might be caused by a change there but the `UnboundLocalError` here is not the expected behavior, too.

[2016-03-19 14:39] Frozenball commented on #80
Thanks for the bug report, I have fixed this for the next release.

[2016-03-19 14:51] #61 closed

[2016-03-19 14:52] Frozenball commented on #61
This option was deprecated with version 0.5.0.

[2016-03-19 14:53] #58 closed

[2016-03-19 14:53] #37 closed

[2016-03-19 14:54] #80 closed

[2016-03-19 21:20] #75 closed

[2016-03-19 21:25] #69 closed

[2016-03-19 21:44] Frozenball commented on #68
This doesn't seem to happen anymore.

[2016-03-19 21:44] #68 closed

[2016-03-19 22:13] Frozenball commented on #76
There was a problem showing skipped tests but it's now fixed. The short test summary info is now shown but it's not very pretty (that's for another weekend).

<img width="690" alt="screen shot 2016-03-20 at 00 10 43" src="https://cloud.githubusercontent.com/assets/53298/13901546/4d171ee0-ee30-11e5-94c5-01f3276878ca.png">

[2016-03-19 22:14] Frozenball commented on #76
`--nosugar` is deprecated and will be removed.

[2016-03-19 22:20] Frozenball commented on #56
This has been fixed with the upcoming version.

[2016-03-19 22:20] #56 closed

[2016-03-19 22:20] Frozenball commented on #52
This has been fixed.

[2016-03-19 22:20] #52 closed

[2016-03-28 19:58] patrickdepinguin commented on #75
Fix confirmed, thanks. Will a new release be created so the updated version is available from PyPi and installable via pip ? Thanks!

[2016-03-29 11:43] Frozenball commented on #75
0.7.0 was just released.

[2016-03-31 20:09] aselus-hub opened #87 "Pytest-sugar errors out when running with deselected test."
py.test running in python3.4 on ubuntu 14.04 with a command that deselects at least one test execution fails with a `AttributeError: 'Function' object has no attribute 'when'` exception after the test exeution block(NOTE: at least one test hasto be actually 'deselected', it does not matter if any run).

Running with '-p no:sugar' does fix the issue.

example bellow:

     $python3 -m pytest -m noo

[2016-03-31 20:14] Frozenball commented on #87
Thanks for the bug report.
On Mar 31, 2016 23:09, "Alexei Kozlenok" <notifications@github.com> wrote:

[2016-04-01 19:38] #87 closed

[2016-04-02 08:30] Frozenball commented on #87
Fixed in 0.7.1.

[2016-04-26 22:43] zyxue opened #91 "text dump instead of graph"
I am seeing this instead of graph

[code]
The dump is very very long. It's supposed to be rendered to graph. I am inside a **docker container**, what could be the reason, please? I have tested color display, it's ok. The `85 passed` part is in green.

[2016-04-27 04:39] The-Compiler commented on #91
Do you run docker with `-it` - if not, does that change anything?

[2016-04-27 15:11] zyxue commented on #91
Yes, I specified `--rm -t -i`, and then `py.test` interactively inside the docker container.

[2016-05-04 14:36] ulope opened #92 "No separator between file and test name in verbose mode"
When using `--verbose` with pytest-sugar installed the test name is squashed up right next to the test file name.

Example:

[code]

Plain pytest uses `::` to separate the two.

[2016-05-10 01:11] dobesv commented on #91
I'm seeing the same issue if I run tests inside docker, it looks like it is escaping the control character as "\x1b" perhaps?  Very odd.

[2016-05-11 00:53] dobesv commented on #91
Here's some more data points:

[code]

Note how when the encoding is 'ANSI_X3.4-1968' it puts in the escape characters.

Outside of docker this works fine:

[code]

[2016-05-11 01:00] dobesv commented on #91
Workaround:

[code]

[2016-05-11 02:08] dobesv commented on #91
I do wish I knew why `sys.stdout.encoding` was `UTF-8` outside docker and `ANSI_X3.4-1968` within.

[2016-05-11 03:12] The-Compiler commented on #91
`ANSI_X3.4-1968` is a fancy way to say `ASCII`, so I'm guessing `locale` will show a C locale inside docker, i.e. the locale was not generated/configured properly.

[2016-05-12 00:42] dobesv commented on #91
Inside docker:

[code]

Outside docker:

[code]

Anyway, it this point it's pretty clearly a docker issue, not a pytest-sugar issue.  This issue should hopefully serve as a reference for other who run into this problem.

[2016-05-12 00:47] dobesv commented on #91
Or instead of setting `PYTHONIOENCODING`, setting up the locale correctly in the Dockerfile should work, and might help with other things that rely on locale as well:

[code]

(from http://jaredmarkell.com/docker-and-locales/)

[2016-05-19 09:04] AbdealiJK opened #93 "Timestamps in output"
For a long build, it is useful to have timestamps.
It would be great to have a timestamp in the front with a cli arg.

Example:
[code]

[2016-06-03 13:02] icemac opened #94 "Result summary counts exception in fixture as failure"
Running the tests without pytest-sugar counts an exception in the fixture as error while running with pytest-sugar the same exception is counted as a failure.

Example without py-test:

[code]

Same example with pytest-sugar:

[code]

Expectation: Exceptions during the setup of the test should be counted as errors as py.test does it.
What is the reason not to do so in pytest-sugar?

[2016-06-13 11:52] icemac opened #95 "Traceback for --new-summary"
Call: `py.test --new-summary --lf`

Result:

[code]

`report.location[0]` was `'test_suite'` in this case.

`report.location` was: `('test_suite', None, '/src/my.package/src/my/package/composer/tests/../documentedit.txt')`.

So `report.location[2]` could be used for the split in this case. Accessing `report.location[1]` a few lines later should be adapted to be able to handle the `None` value.

[2016-06-22 11:23] nlamirault commented on #91
I've got this error too without using Docker but Tox.

[code]

But if i use directly py.test it works :

[code]

Any idea how fix that ?

[2016-06-22 15:45] zyxue commented on #91
Just to add that this happens when the test is run on a jenkins server, as well if the output is sent to the browser.

[2016-06-29 16:53] ghostsquad opened #96 "progress bar doesn't update in place"
I just installed pytest-sugar, and the progress bar doesn't get updated in-place for failures. Is this by design? it looks like it works with passing tests. Any ideas?

Also, the progress bar doesn't go to 100% for very very short tests.

[code]

[2016-09-06 23:22] jondelmil opened #97 "pytest-sugar does not honor the 'startdir' parameter from pytest_report_header"
Please see reference to [this issue](https://github.com/pytest-dev/pytest-selenium/issues/78) originally filed in pytest-selenium.

[code]

[Here's an example project](https://github.com/jondelmil/example), with the second commit solving the issue by removing pytest-sugar.

To reproduce, `pip install -r requirements/test.txt && pip install -r requirements/local.txt`, then `py.test`

I also had to

[2016-10-12 16:26] westhomas opened #99 "Pass/fail summary not viewable when using xdist"
I'm using pytest-xdist to run tests in parallel. The summary output at the end of a test run is much longer when using xdist than when running tests normally. The output is being truncated such that I can't read the failure messages.

Normal output without xdist:

[code]

Output when running with xdist:

[code]

Is there someway to increase this value in settings?

[2016-11-22 09:55] icemac commented on #95
This problem also occurred to me on another project when calling _without_ `--lf`.

[2016-12-22 16:52] blueyed commented on #94
@icemac
Have you investigated what the reason might be by chance?  Just noticed this myself.

[2016-12-22 17:04] blueyed commented on #94
With pytest-sugar, `terminalreporter.stats` in another plugin's pytest_terminal_summary has:

 'failed': [<TestReport 'test_foo.py::test_1' when='call' outcome='failed'>,
            <TestReport 'test_foo.py::test_2' when='setup' outcome='failed'>],
 'passed': [<TestReport 'test_foo.py::test_1' when='setup' outcome='passed'>,
            <TestReport 'test_foo.py::test_1' when='teardown' outcome='p

[2016-12-25 18:09] #97 closed

[2016-12-25 18:40] Frozenball commented on #99
So it seems like xdist changes the output of `self._getcrashline`.

With xdist:
<img width="345" alt="screen shot 2016-12-25 at 20 37 07" src="https://cloud.githubusercontent.com/assets/53298/21472432/ff006fec-cae1-11e6-8150-6ab8160a2354.png">

Without:
<img width="805" alt="screen shot 2016-12-25 at 20 37 52" src="https://cloud.githubusercontent.com/assets/53298/21472433/06d90d0a-cae2-11e6-9d60-9

[2016-12-25 18:42] Frozenball commented on #96
Pytest-sugar has poor support when it comes to supporting all different flags pytest has, such as `--tb=no`.

[2016-12-25 21:05] ghostsquad commented on #96
I can investigate this issue and maybe submit a PR

[2016-12-26 13:51] Frozenball commented on #94
Fixed

[2016-12-26 13:51] #94 closed

[2016-12-27 17:39] Frozenball commented on #95
This is a good catch and it's also very stupid flaw in the code

[2016-12-27 18:05] #95 closed

[2016-12-27 21:20] #73 closed

[2016-12-27 21:33] #92 closed

[2017-03-21 16:10] JoeMerten opened #120 "Wrong output when using --force-sugar and output redirection together"
#### Command used to run py.test
````py.test --color=yes --force-sugar test_blah.py | tee output.txt````

See also https://github.com/jenkinsci/ansicolor-plugin/issues/53

[2017-03-21 16:19] Frozenball commented on #120
I believe this is the same problem people [have been complaining with Docker.](https://github.com/Frozenball/pytest-sugar/pull/49)

PRs are welcome if someone finds a solution 🙂

[2017-04-19 14:01] jaraco opened #122 "Crash when doctest fails"
When running pytest with `--doctest-modules` and if one of the doctests fails, pytest-sugar fails with a TypeError. For example, here's the invocation of tox on [this repro repo](/jaraco/pytest-sugar-issue-122):

[code]

[2017-05-24 07:45] azmeuk opened #124 "Cannot disable xdist when sugar is installed"
This bug report was originally posted at [pytest-xdist's](https://github.com/pytest-dev/pytest-xdist/issues/147) but it seems the fault is actually on sugar :) There may be some clues in this bug report though.

#### Command used to run py.test
[code]

#### Test file
[code]

#### Output
[code]
Thank you

[2017-05-24 07:48] RonnyPfannschmidt commented on #124
the clue is in https://github.com/Frozenball/pytest-sugar/blob/master/pytest_sugar.py#L82

that check adds a hook when xdist is installed, even when it it disabled
in order to
https://docs.pytest.org/en/latest/writing_plugins.html#optionally-using-hooks-from-3rd-party-plugins shows a good way to add the hook only when xdist is enabled

[2017-07-05 15:56] blueyed opened #125 "Add line of crash to new summary"
The new summary uses the line of the test function itself, but the line containing the crash would be more useful often (to jump directly to it).

I think this could still get parsed from `crashrepr`, no?

I think both line numbers could be displayed in the summary similar to https://github.com/fschulze/pytest-pdb/pull/3/files#diff-30e02d59448c958f16700f2683820a2cR28.

[2017-07-11 20:17] jaraco commented on #122
This issue is a blocker for me. If I can't find a solution for it, I will need to cease use of pytest-sugar in environments where doctests are used.

Are there plans to address this issue? Would you accept a PR with a fix and cut a release of it in short order?

[2017-07-18 10:18] azmeuk commented on #125
What is crashrepr? [Google](https://www.google.fr/search?num=30&newwindow=1&q=python+crashrepr&oq=python+crashrepr&gs_l=serp.3..30i10k1.63186.64537.0.64675.7.7.0.0.0.0.157.610.5j2.7.0....0...1.1.64.serp..1.2.228.Q1T_UGDqc-k) has almost nothing about this.

[2017-07-18 10:35] blueyed commented on #125
Sorry, I've meant `reprcrash`.

https://github.com/pytest-dev/pytest/blob/db24a3b0fb6803c67718852958de4008dcf69319/_pytest/terminal.py#L448-L455

Used in pytest-sugar here: https://github.com/Frozenball/pytest-sugar/blob/4cf631063ee154b1c7c8bafc52514bf393fb9c68/pytest_sugar.py#L533

[2017-07-24 04:40] hongquan commented on #122
It is because _pytest-sugar_ graps the report from [this](https://github.com/pytest-dev/pytest/blob/master/_pytest/doctest.py#L142)

[code]

which returns `None` for `lineno`.

[2017-08-14 19:51] Frozenball commented on #125
I have personally noticed that location of the actual crash is often meaningless (e.g. inside some third party library when invalid argument is passed)

[2017-08-14 20:59] blueyed commented on #125
IIRC it should be from the actual test always?!
Otherwise it would be possible to get to it somehow probably.
See https://github.com/fschulze/pytest-pdb/pull/3.

[2017-09-08 20:45] drcongo commented on #124
I installed, and then removed pytest-xdist and now can't use pytest-sugar for some reason. Well, I can if I comment out the check for it.

    pip uninstall pytest-xdist
    Cannot uninstall requirement pytest-xdist, not installed

However, `import xdist` doesn't fail any more and I can't work out why.

[2017-09-11 05:20] Frozenball commented on #124
@drcongo I am not sure what is the problem here?

[2017-09-11 05:23] Frozenball commented on #124
@azmeuk What's the use case for disabling xdist? Does this bug have real impact or is it just nice to have?

@RonnyPfannschmidt It's getting a bit embarrassing how many pytest-sugar bugs seem to leak into other repositories... 😰

[2017-09-11 06:02] RonnyPfannschmidt commented on #124
@Frozenball i wouldnt consider it a bug - its more if a really messy detail thats too easily missed

[2017-09-11 06:33] azmeuk commented on #124
@Frozenball Using xdist is nice when you have a lot of tests to run, but the initialization phase can be long. When I have a single, or a small set of tests to run, and I know the initialization takes more time than what I gained from the parallelization, I generally disable pytest-xdist.

Also sometime pytest-xdist has its own bugs and needs to be disabled.

[2017-09-11 07:58] RonnyPfannschmidt commented on #124
@azmeuk also note that xdist only triggers if you request it, so disabling the whole plugin in general doesnt make sense as you only have to avoid requesting the parallel execution

[2017-09-11 13:26] Frozenball commented on #124
Yeah, isn't omitting `-n` (the parallel factor) enough?

[2017-09-21 20:50] jason-s opened #128 "install won't work? ("distribute" ?)"
This is Windows 7 so I'm not sure I can use this plugin anyway, but it wouldn't install despite having Python 2.7.12 and pytest-3.2.1 installed.

[code]

[2017-09-24 09:53] Frozenball commented on #128
I don't use Windows so I don't really know.

This looks pretty weird, you probably want to search for it:

[2017-10-23 09:58] Sup3rGeo commented on #91
Same thing happens to me on Windows 10 cmd.

[2018-01-29 14:24] mbrt opened #130 "No output while setup is running"
If a test has a long setup fixture, it takes a long time before the first test is executed. Without pytest-sugar, pytest already outputs the test name itself, so you get immediate feedback of what test is trying to execute. With pytest-sugar you get no output, so it appears to be stuck (but it's instead waiting for the setup to complete).

#### Command used to run py.test
````py.test test_example.

[2018-01-30 23:54] mattsb42-aws opened #131 "AttributeError when used with pytest 3.4.0"
I can't quite tell if this is an issue with this package or pluggy, but adding this package is when the error shows up. This error did not manifest in pytest <3.4.0.

When reporting an issue, include a way to reproduce the bug. For example:

#### Command used to run py.test
Tox trigger:
`tox -re py27-local`

Actually runs:
`pytest --cov aws_encryption_sdk_cli -m local -l`

#### Test file
https://g

[2018-01-30 23:54] jakewan opened #132 "Apparent issue with pytest 3.4.0"
Pytest 3.4.0 was just released today and immediately I started seeing failing tests and lots of unfamiliar output. I wasn't sure what it was, so I started removing bits one by one, and the problem seems to go away when I disable the pytest-sugar plugin. I'm not sure whether to report this to the **pytest** project or the **pytest-sugar** project, but thought I'd start here.

Pytest-sugar is the on

[2018-01-31 01:28] mattsb42-aws commented on #131
Closing: looks like @jakewan opened #132 at almost the same time as this, and that's the one that got picked up.

[2018-01-31 01:28] #131 closed

[2018-01-31 01:32] nicoddemus commented on #132
PR #133 open with a fix. 👍

[2018-02-06 13:19] #132 closed

[2018-02-08 17:04] m3talstorm commented on #132
@nicoddemus I'm not sure that PR fixed the issue, notice the 'collected' line is not shown:

[code]

[code]

[2018-02-08 17:40] nicoddemus commented on #132
@m3talstorm I'm not entirely familiar how `pytest-sugar` works, my PR intended to fix the crash. Perhaps @Frozenball can chime in here?

[2018-02-12 15:35] Frozenball commented on #132
I think originally when I created pytest-sugar the plan was to hide a lot of noise from the test report (such as the number of tests collected). I would say the optimal resolution would be to hide all the extra lines and make them configurable with the theme.

[2018-03-21 09:31] touilleMan commented on #130
my 2c : this is also problematic for long running tests.

I'm using [hypothesis](https://hypothesis.readthedocs.io/en/latest/) which does property testing: a single test is run many times against randomly generated data. This way a single test can take multiple seconds so outputting it name before it result is really important (especially working with async or threads where deadlocks can occurs).

[2018-03-27 18:25] standage commented on #124
Same here. I thought pytest-xdist might speed up my test build, but it didn't help much and even slowed down some parts. But after running `pip uninstall -y pytest-xdist` now pytest-sugar doesn't work.

[code]

It looks like `pip uninstall -y pytest-xdist` leaves the `site-packages/xdist/` directory behind. Manually removing this directory makes sure that `import xdist` fails and triggers the corr

[2018-04-06 12:22] dotlambda opened #134 "Tests fail with pytest 3.5.0 DOCTESTS"
After updating from pytest from 3.4.2 to 3.5.0, pytest-sugar's testsuite fails:
[code]

[2018-05-22 17:15] felixonmars opened #137 "Missing git tags for new releases"
It would be nice to keep PyPI releases and git tags in sync :)

[2018-07-03 20:53] hangtwenty commented on #80
Just got this with pytest-sugar 0.9.1. Here are all my pytest-related dependencies:

[code]

[2018-07-12 13:33] MaxBenChrist opened #138 "Add version 0.9.1 to conda-forge"
Hi there,

pytest-sugar is great! Thank you for maintaining it.

Can you please update the version of pytest-sugar on conda-forge? It only has version 0.9.0.

Cheers

Max

[2018-07-18 20:41] EdwardBetts commented on #134
git bisect suggests this is the first commit that caused the test to fail: https://github.com/pytest-dev/pytest/commit/fbc45be83f279f936121355649728f7aeec6e6a6

[2018-07-19 04:49] EdwardBetts commented on #134
The test is failing because the line number of the failing test changed from 3 to 2.
[code]

[code]

[2018-07-24 16:51] hangtwenty opened #139 "(reopen) UnboundLocalError when used together with pytest-rerunfailures"
Issue #80 seems to have re-emerged. Command used to run pytest is just `pytest` with flags from `pytest-rerunfailures`: in this case I believe it was `pytest --reruns=3`.

----

Just got this with pytest-sugar 0.9.1. Here are all my pytest-related dependencies:

[code]

[code]

[2018-07-24 16:51] hangtwenty commented on #139
I plan take a whack at a PR soon

[2018-07-25 09:06] EdwardBetts commented on #134
See https://github.com/pytest-dev/pytest/issues/3463

[2018-08-19 20:27] kiilerix opened #141 "Obfuscated output with LANG=C"
When running on Linux as
LANG=C py.test
it will output ansi sequences like literally '\x1b[36m' and unicode as literally '\u2015'.

I would expect it to work as usual, probably emitting ansi codes as usual. pytest-sugar itself should not try to emit its own utf8 characters but should fall back to some pure ascii.

(I wonder how setting LANG can influence that. It kind of would make sense if settin

[2018-08-28 14:50] blueyed opened #142 "IndexError: string index out of range (progressbar, pytest-testmon)"
I am seeing an IndexError sometimes when using pytest-sugar with pytest-testmon:

[code]

Full output:

[code]

I have not yet investigated myself, but wanted to file this already.

[2018-08-29 14:57] blueyed commented on #125
@Frozenball
Assuming that the crash line is from the test, do you agree that it would be more useful?
The use case is quickly going to the failed assertion etc in the test, which is currently not possible, even if you have setup your editor to handle test IDs (`test_foo.py::test_func`), because pytest-sugar also does not use those in the summary.
I'd be happy to look into this, but would like to k

[2018-08-29 15:10] blueyed commented on #125
To be clear, currently it looks like this:

[code]

Since I am using `-ra` I get the test IDs in the short test summary info, which allows to quickly go to the test itself already (although it requires magic in your editor).

I think `-ra` would not be necessary at all, and pytest-sugar could display the results as:
[code]

I.e. it would use the actual line, and also display the full test ID.

[2018-08-29 15:14] Frozenball commented on #125
Sounds good.

On Wed, Aug 29, 2018, 17:59 Daniel Hahler <notifications@github.com> wrote:

[2018-08-29 15:47] blueyed opened #143 "Wrong count with items modified in pytest_collection_modifyitems"
When using a custom plugin to modify the test items, pytest-sugar does not appear to adjust its count for the progress bar:

[code]

Result:

[code]

It only runs 9 tests, but this gets not reflected in the statusbar correctly.

[2018-08-29 16:40] blueyed commented on #125
Yes, that's what I would like to achieve/see also.

[2018-08-29 16:40] blueyed commented on #125
btw: I can highly recomment https://github.com/fschulze/pytest-pdb, which adds a `gt` command that allows to go the test from within pdb and more.

[2018-08-29 17:30] blueyed commented on #124
Should work also through the method @RonnyPfannschmidt pointed out: https://github.com/Frozenball/pytest-sugar/pull/147.

[2018-08-29 17:32] blueyed commented on #124
@standage
It should also fix your issue, but maybe another fix on top would make sense.  Please consider filing a separate issue and/or opening a PR then.

[2018-08-29 17:41] blueyed commented on #130
Maybe it could display an ellipsis ("…") for the setup phase already?
Would be good if this could get deferred, e.g. so that it only happens after e.g. 0.5s.

[2018-08-29 17:43] blueyed commented on #141
Could not reproduce this.

[2018-08-29 20:37] blueyed commented on #124
Would be good if you could test that https://github.com/Frozenball/pytest-sugar/pull/147 works for you.

[2018-09-18 12:54] marscher commented on #124
#147 works for me.

[2018-09-24 09:57] albertodonato opened #150 "Failed tests name contains `.` instead of `::` in verbose mode"
When a test fails and pytest is run in verbose mode, the failed test name contains `.` instead of `::` which doesn't match the name expected by pytest itself to run the test.

e.g. the following code:

[code]

causes the following output:

[code]

[2018-10-04 08:48] CapedHero commented on #150
I think that changes need to be implemented in this part of the code: https://github.com/Frozenball/pytest-sugar/blob/master/pytest_sugar.py#L354-L377

Quick hack:
`test_name = report.location[2].replace('.', '::')`
`test_name = fspath[-len(basename):].replace('.', '::')`

@maintainers of the repo
Please specify how to contribute to the repo i.e. what proposed PR should have, how to run tests etc.

[2018-10-05 15:38] albertodonato commented on #150
@Frozenball  ^

[2018-10-06 19:58] max-sixty commented on #142
I frequently see this with `--testmon`

[2018-10-06 20:34] blueyed commented on #142
@max-sixty
Please try if https://github.com/Frozenball/pytest-sugar/pull/144 fixes it.

[2018-10-06 21:32] max-sixty commented on #142
It does! Thank you @blueyed !

[2018-10-10 07:49] albertodonato commented on #150
I've pushed https://github.com/Frozenball/pytest-sugar/pull/151 which implements @CapedHero suggestion.

[2018-10-10 08:04] Frozenball commented on #150
Hey @albertodonato (or @CapedHero), sorry for not replying earlier. I'll try to go through all the pytest-sugar issues/PR when I get a free time slot.

[2018-10-17 08:42] CapedHero commented on #150
@Frozenball
Any chance on progress on this matter? :]

[2018-10-17 18:16] #150 closed

[2018-10-17 18:49] #142 closed

[2018-10-17 18:49] #143 closed

[2018-10-17 18:55] #124 closed

[2018-10-17 19:11] Frozenball commented on #139
I can confirm the issue.

````py.test   --reruns=3 faketests/````

[2018-10-17 19:16] Frozenball commented on #138
I have never published pytest-sugar on conda-forge. You might wanna talk to the people there.

[2018-10-17 19:16] #138 closed

[2018-10-17 19:28] Frozenball commented on #122
#134

[2018-10-17 19:30] Frozenball commented on #122
I am closing this as #134 is going to be the single ticket related to doctest

[2018-10-17 19:30] #122 closed

[2018-10-17 19:32] Frozenball commented on #141
I guess this is a duplicate of #91?

[2018-10-17 19:32] #141 closed

[2018-10-17 19:33] Frozenball commented on #91
@Sup3rGeo You might wanna take a look into https://github.com/Frozenball/pytest-sugar/pull/49#issuecomment-146567670

[2018-10-17 19:35] Frozenball commented on #128
Closing since no activity.

[2018-10-17 19:35] #128 closed

[2018-10-17 19:38] Frozenball opened #153 ". is replaced with :: e.g. test_example::py"
This only affects master branch atm. Documenting it here so I remember to fix it.

<img width="690" alt="screen shot 2018-10-17 at 22 37 38" src="https://user-images.githubusercontent.com/53298/47111820-466adc80-d25d-11e8-970c-29c55388db11.png">

[2018-10-17 19:39] #99 closed

[2018-10-29 07:27] goodspark opened #158 "Progress outputs are not sorted when randomly is used"
When reporting an issue, include a way to reproduce the bug. For example:

- Python 3.6.5
- pytest 3.9.3
- pytest-sugar 0.9.1
- pytest-xdist 1.23.2
- pytest-randomly 1.2.3

#### Command used to run py.test
````pytest -n auto````

#### Test files
test_qwe.py
[code]
test_asd.py
[code]
(And then make a bunch of copies of those files somehow)

#### Output
![screenshot from 2018-10-29 00-23-03](https:/

[2018-11-05 00:38] djrobstep opened #159 "AttributeError: 'NoneType' object has no attribute 'testscollected'"
Running some tests on circleci and I get the following exception (see full stacktrace below).

When I don't install pytest-sugar, test runs fine.

Oddly enough I cannot (yet) reproduce locally.

#### Command used to run py.test
````py.test````

#### Output
[code]

[2018-11-05 01:06] goodspark commented on #159
I'm seeing this as well:

Python and dependencies:
[code]

test_stuff.py:
[code]

tox.ini
[code]

But if I disable or remove pytest-sugar, this doesn't happen.

FWIW, If I use `pytest==3.9.3`, pytest-sugar works.

[2018-11-05 12:18] tomhamiltonstubber commented on #159
This doesn't just happen on Circle. Looks like `pytest 3.10.0` isn't supported atm.

[2018-11-05 14:37] RonnyPfannschmidt commented on #159
the issue is due to a lexical version compart ensuring sugar works on pytest `>=3.4` - which is lexical larger than `3.10`

[2018-11-05 14:46] michael-k commented on #159
I'll open a PR if no one is faster ;)

[2018-11-05 19:37] jaraco commented on #159
I worked around the issue by adding this to conftest.py:

[code]

[2018-11-07 09:12] #159 closed

[2018-11-07 09:59] Natim commented on #137
https://github.com/Frozenball/pytest-sugar/releases

[2018-11-07 13:02] allan-simon commented on #159
thanks for the fix and the speed of the PR, when can expect a new release of pytest-sugar?  :)

[2018-11-07 14:33] jxltom opened #163 "Add version tags to make it easier to track down the releases"
It looks like there is no version tags in the repo. The releases in pypi https://pypi.org/project/pytest-sugar/#history is already 0.9.1.

It will be nice to tag release versions, so the users or developer could checkout different versions easily.

[2018-11-07 22:45] jaraco commented on #159
I've released a new package, [pytest-sugar-bugfix159](https://pypi.org/project/pytest-sugar-bugfix159). Simply include it in your requirements to get the workaround I posted above.

[2018-11-07 23:09] jaraco commented on #159
Probably worth mentioning that this issue is a revisit of #131 and #132.

[2018-11-08 16:23] Natim commented on #159
Any rationale of why this is not a `pytest-sugar 0.9.3` ?

[2018-11-08 16:37] Natim commented on #159
@jaraco I tried your new package, but I get this error while trying to use it:

[code]

Please release a bugfix release of pytest-sugar, this doesn't make any sense because then we will loose track of the following updates of pytest-sugar.

[2018-11-08 16:39] blueyed commented on #159
@Natim
Because 0.9.2 would be next? ;)
Please stay calm, only @Frozenball can cut a release.

Since pytest 3.10 has other severe bugs it is good to wait for 3.10.1 there also anyway, btw.
Apart from that I do not recommend to use pytest-sugar for CI/prod for reasons like this anyway.

I agree that a separate pytest-sugar-bugfix159 package makes no sense really, since it is easy to install master (

[2018-11-08 16:39] Natim commented on #159
oh ok I see I get it :+1: :lock:

[2018-11-08 19:37] jaraco commented on #159
@Natim Did you also install pytest-sugar? I should have said you need the bugfix package in addition to pytest-sugar. The bugfix is [just the patch](https://github.com/jaraco/pytest-sugar-bugfix159/blob/master/pytest_sugar_bugfix159.py).

I tried this technique, but unfortunately, it's not always easy to put the override in the right place. There are projects where the pytest-sugar requirement is

[2018-11-08 19:40] jaraco commented on #159
@blueyed Would you be willing to share how you go about defining different test environments? I've always considered it a goal to make a developer's test environment aligned with CI/prod as much as possible, so I haven't spent much time thinking about it.

[2018-11-08 20:57] Frozenball commented on #153
This problem still exists.

[2018-11-08 21:06] Frozenball commented on #159
I feel so horrible that I noticed this so late. I only got a notification to my email when I got an highlight from @blueyed 4 hours ago.

Anyway, 0.9.2. has been released. Hopefully nothing breaks since I did this in a hurry.

[2018-11-08 21:09] Frozenball commented on #159
Btw, I recommend pinning dependencies, even if they are development related.

[2018-11-08 21:15] Frozenball commented on #159
Also, huge thanks to @blueyed for merging lots of PR and overall maintenance of this project. 🎉😇

[2018-11-08 21:16] Frozenball commented on #163
Duplicate of #137

[2018-11-08 21:16] #163 closed

[2018-11-08 21:33] blueyed commented on #159
@jaraco
django-configurations for settings (but there are more moden packages I guess by now, check django packages), and then different `requirements/*.txt` files, generated via `pip-compile` (and Makefile magic), from `base.in`, `prod.in`, `testing.in`, `dev.in`, `travis.in` basically.
And things like pytest-sugar would not even be in dev.in, since everybody has a different taste in this regard,

[2018-11-09 14:51] felixonmars commented on #137
@Natim The releases page only includes releases up to 0.3.3, but the current version is 0.9.2 on PyPI.

[2018-11-13 08:59] michael-k opened #166 "Outdated docs on website"
https://pivotfinland.com/pytest-sugar/ still mentions the by now removed flag `--nosugar` instead of `-p no:sugar` in section *Usage*.

[2018-11-13 09:41] blueyed commented on #166
Please consider creating a PR, possibly using `[ci skip]` in the commit message then.

[2018-11-13 09:45] michael-k commented on #166
Against which repo?

[2019-02-11 18:50] matoro opened #167 "Test failures under pytest 4.1.0 and 4.2.0"
Internal tests run with the command:

[code]

fail with the following output:

[code]

[2019-02-11 19:33] blueyed commented on #167
I see a different one also, caused by https://github.com/pytest-dev/pytest/commit/0f546c4670146fbb89407cad85518e3a7dcfa833:

[code]

[2019-02-11 20:06] blueyed commented on #167
See https://github.com/Frozenball/pytest-sugar/pull/169 for the failure you've reported.

[2019-02-11 20:27] #167 closed

[2019-02-11 20:27] blueyed opened #170 "test failure with pytest 4.2"
Caused by https://github.com/pytest-dev/pytest/commit/0f546c4670146fbb89407cad85518e3a7dcfa833 (pytest 4.2.0):

The test itself works in pytest without pytest-sugar, so likely caused by overridden hooks.

[code]

_Originally posted by @blueyed in https://github.com/Frozenball/pytest-sugar/issues/167#issuecomment-462462930_

[2019-02-12 13:51] matoro commented on #170
Does this really warrant a pin for pytest?  I backported https://github.com/Frozenball/pytest-sugar/pull/169 to 0.9.2 and everything works cleanly.  I only ask because pins don't play nice with rolling-release distros so I only use them as a last resort.

[2019-02-12 18:41] blueyed commented on #170
@matoro
No pinning is planned.  I've closed https://github.com/Frozenball/pytest-sugar/pull/168.

[2019-03-26 11:08] azmeuk opened #173 "Keep consistency in the output"
Right now, when a test fails the output looks like this:
[code]

The way the failing test (ie `PATH:LINE TEST`) is not the *natural* way pytest display *test paths* (ie `PATH::TEST), and I think it is unpractical for some reasons:

- I frequently need to copy/paste this line to pass it as an argument of a new pytest invocation in your shell, for example, with new debugging options. Then I have to

[2019-03-26 12:11] blueyed commented on #173
Just for reference: pytest should also be able to run tests via `file:lineno` (WIP at https://github.com/pytest-dev/pytest/pull/3282).

Do you mean a custom hint, which fails because it cannot include the space?

I'd prefer `- path/to/your_test.py::test_something_wrong, line 666`.  This appears to be more common.

Would `path/to/your_test.py::test_something_wrong:666` also work / make sense?

Anyw

[2019-03-27 16:18] blueyed commented on #173
There is some discussion / brainstorming with regard to this in pytest itself: https://github.com/pytest-dev/pytest/pull/5002#issuecomment-477233062.

[2019-05-16 23:02] mcallaghan-bsm opened #174 "docker+venv, stdout is not printed per test rendering sugar moot"
When reporting an issue, include a way to reproduce the bug. For example:

#### Command used to run py.test
````py.test````

(with configuration) `pytest.ini`
[code]

#### Environment
docker + pipenv

it runs in a docker (based off `python:slim`), then enters the pipenv virtual environment
[code]

[code]

#### Test file

We have a PoC SLOW test, which makes this "more obvious".

[code]

#### Outpu

[2019-05-17 12:59] mcallaghan-bsm commented on #174
PS: i just  noticed the `pytest-xdist` note on the main page, tried with that just now, same issue persists
[code]

[2019-06-09 10:03] #170 closed

[2019-06-24 22:44] jnoortheen opened #179 "wrong test id shown when using verbose output"
When reporting an issue, include a way to reproduce the bug. For example:

when running without sugar, the output is
![image](https://user-images.githubusercontent.com/6702219/60056681-65c8dc00-96ff-11e9-8d75-c7f42ea93124.png)

with sugar
![image](https://user-images.githubusercontent.com/6702219/60056710-8133e700-96ff-11e9-82c1-13e9bb21b55e.png)

the test class here(server/apps/help_desk/tests.py

[2019-07-18 09:34] scarabeusiv opened #180 "Tests fail with pytest 5.x"
[code]

As the travis is not testing against it I suppose it was not yet noticed.

[2019-08-27 15:50] ssbarnea opened #181 "number of selected tests is not reported on collection"
While sugar nicely displays how many tests where deselected it does not mention how many tests where selected. This is key information that is missing because based on the params given to pytest or other factors (like environment variables), the number of tests may be very different.

Example:
[code]

While user may see a very long list of collected tests, he has no clue how many were collected ma

[2019-09-27 07:56] declension commented on #166
This just caught me out too. @Teemu how does the site get updated?

[2019-09-27 10:58] Teemu commented on #166
I don't think it has a good deployment process at the moment. That lonely
server hosting that might have the only copy of the source code atm.

On Fri, 27 Sep 2019, 10:56 Nick Boultbee, <notifications@github.com> wrote:

[2019-11-04 14:02] mcepl opened #182 "Progress bar background doesn’t honor the terminal settings"
When running pytest with sugar in place on the terminal with light background, I get a very strange result with progress bar having a black background.

![Snímek z 2019-11-04 14-59-50](https://user-images.githubusercontent.com/198999/68126376-f1efd900-ff13-11e9-906d-560c2c240931.png)

Sugar should respect the terminal settings and use the light yellowish background I have (yes, the green bars will

[2019-12-07 12:57] Hultner commented on #158
Does it work with you using xdist but without pytest-randomly?
I don't have pytest-randomly but I do have xdist and if I use pytest with more then one worker I get this exact behaviour so I uninstalled sugar again. It does look nice but for me the speedup of having multiple workers on a 16-threaded workstation is worth more.

[2020-01-14 20:28] ssbarnea opened #184 "Maintenance and possible move to under pytest-dev org"
While I really LOVE `pytest-sugar` it saddens me to see it mainly unmaintained in the last 3 years. I am sure that sooner or later things will break and I would like to propose the following:

* move the project under https://github.com/pytest-dev to make it more official plugin, and where there are others that could give hand if needed
* add one or two more maintainers so they can at least review

[2020-02-07 13:57] sakharovmaksim commented on #139
@Teemu please, fix this bug :)

[2020-02-07 14:45] Teemu commented on #139
Feel free to open PR.

[2020-02-13 15:35] Teemu commented on #184
Yeah I agree that the maintenance at least from my side has been pretty barebones -- I check it like once a year or if someone pings me! Luckily @blueyed has done amazing job with maintenance!

[2020-02-13 15:36] Teemu commented on #182
I am not sure if we can respect the terminal settings -- I don't think we actually know the real colors. You can try theme.ini (I think it was named like that) for configuring the colors.

[2020-02-13 15:36] #182 closed

[2020-02-13 15:41] Teemu commented on #173
In my use cases I usually just want to jump into the file rather than running it again with pytest so the line number next to the filename is really handy (at least iTerm2 allows direct jump with the line number)

[2020-02-13 15:49] blueyed commented on #182
@Teemu
Shouldn't it just not use a background color?

[2020-02-13 15:53] Teemu commented on #182
What would you replace it with? I don't think we can ensure that the block width = space width? Although I guess in this case since the progress is before the progress bar, we could just ignore the aligning (or try \t)

[2020-02-13 17:28] blueyed commented on #182
`None` ?
Ref: https://github.com/Teemu/pytest-sugar/blob/66f6d9f9311a176ffafdfe00cb8c487d45b6a735/pytest_sugar.py#L48

@mcepl try configuring this maybe.
It currently appears to use "grey" (color 0).

[2020-02-13 17:29] blueyed commented on #182
As for config: https://github.com/Teemu/pytest-sugar/blob/66f6d9f9311a176ffafdfe00cb8c487d45b6a735/pytest_sugar.py#L122-L139

[2020-02-13 18:05] Teemu commented on #182
Hmm

On Thu, 13 Feb 2020, 19:28 Daniel Hahler, <notifications@github.com> wrote:

[2020-02-13 21:53] blueyed commented on #173
Related: https://github.com/pytest-dev/pytest/issues/5241
Unfortunately this got no traction in pytest itself, but I have it in my (more serious) fork (https://github.com/blueyed/pytest/), where it has the line numbers in the short test summary then also.  This is _very_ useful.
btw: https://github.com/wsdjeg/vim-fetch handles the nodeids also, but only goes to the function itself then.

[2020-02-14 15:17] nicoddemus commented on #173
Can you please clarify that @blueyed?

[2020-02-25 01:02] nicoddemus commented on #173
Can you please clarify that @blueyed?

[2020-02-25 14:03] fbarbu15 opened #186 "No instant stack trace displayed when test fails and tests are run with Gitlab CI"
#### Command used to run py.test
pytest --cov=..\\cop_regression\\ --alluredir=reports\\raw\\general_tests tests\\test_export_setup.py tests\\test_search.py tests\\test_production_view.py

I also have a setup.cfg containing this:

[tool:pytest]
filterwarnings =
    ignore::DeprecationWarning
	ignore::UserWarning
# arguments to be passed to pytest commands
addopts = -s -v --verbose --tb=short -rap

[2020-02-27 10:02] #186 closed

[2020-02-27 10:03] fbarbu15 commented on #186
Env issue

[2020-03-12 20:28] MarcBoissonneault opened #187 "pytest-sugar is not working with pytest v5.4.0 (released on March 12th 2020)"
pytest-sugar is not working with pytest v5.4.0 (released on March 12th 2020)

[code]

[2020-03-12 23:31] GuillaumeFavelier commented on #187
It seems that direct access to `writer` is deprecated and that `write()` should be used instead:

Reference:
https://docs.pytest.org/en/latest/deprecations.html#terminalreporter-writer

[2020-03-13 09:54] blueyed commented on #187
@GuillaumeFavelier
Your patch looks good, please consider creating a PR with it.

[2020-03-17 18:06] donbeave commented on #187
Hello!

It looks like all fixes were merged already. Can I ask when the new version with fixes planned to be released?

[2020-03-18 13:00] ssbarnea opened #189 "pytest-plugin topic is missing"
On this repository the `pytest-plugin` topic is not added, making much harder to find pytest-sugar as a plugin. Very easy to fix, but needs to be done by someone that can edit topics.

[2020-03-23 09:40] uriva opened #190 "IndexError: string index out of range"
[code]

[2020-03-24 10:16] jakul commented on #187
Bump!

Can someone cut a release and put onto PyPi?

[2020-03-25 07:44] ods opened #191 "Log captured during setup is displayed 3 times"
#### Test file
[code]

#### Output with pytest-sugar
[code]

#### Output with pytest-sugar
[code]

[2020-03-26 08:25] WolfgangFellger commented on #187
https://github.com/Teemu/pytest-sugar/pull/188 hasn't even been merged, been sitting there approved for ten days now :-/

[2020-03-26 08:33] RonnyPfannschmidt commented on #187
from personal experience i can say that a number of open-source maintainers currently have different priorities due to accommodating for stuff like daycare shut-down and corona preventions,

while i understand the unhappiness with delays,
lets have patience and lets hope and wish for the good health of the maintainers and their families

[2020-03-26 22:38] blueyed commented on #187
Keep in mind though that this is basically a regression in pytest: it wanted to deprecate a property (out of nowhere TBH), and hasn't considered that some plugins like pytest-sugar might actually set this property.
Therefore (https://github.com/pytest-dev/pytest/issues/6951) it is more a pytest bug after all.

While this is unfortunate in general and I can see that parents have less time currently

[2020-03-26 22:40] blueyed commented on #187
As mentioned in https://github.com/Teemu/pytest-sugar/pull/188#issuecomment-604462148 (8h ago) there is some patch available already, which is even in line what Ronny suggested.
It would be great if this could be fixed in pytest already.

[2020-03-30 08:25] ssbarnea opened #192 "lots of project metadata is missing from setup.cfg"
Current project listing on pypa is missing a lot of metadata including at least source code link, docs link, issue tracker link, list of open PRs/Bugs/starts.

Adding these should not be hard, just compare the setup.cfg with another project that lists them , example https://pypi.org/project/pytest-molecule/

[2020-03-30 08:35] ssbarnea commented on #187
Sadly 3 weeks of being broken forced me to stop using pytest-sugar completely.

I think that the responsibility in this area is a bit of a grey area but I can only recommend this: create scheduled jobs that run daily or at least weekly that run with pytest from master. This is what I do on several projects that highly dependent on a specific tool (being plugins or plugins like).

On the other hand

[2020-03-30 11:55] nicoddemus commented on #173
Can you please clarify that @blueyed?

[2020-03-30 13:25] truthdoug commented on #187
Reposting a comment I posted on the PR for this:

This will work to get pytest-sugar working until this has merged:

    pip install -e git+https://github.com/GuillaumeFavelier/pytest-sugar.git@b56fed42d5c3022ff507ab6ce81cda65a3a5f92a#egg=pytest-sugar

It simply installs the version from @GuillaumeFavelier's fork.

[2020-03-30 19:35] RonnyPfannschmidt commented on #187
https://github.com/pytest-dev/pytest/pull/6986 will hopefully solve the pytest side, once i had a bit of time and peace of mind it was done very quickly

[2020-03-31 00:37] blueyed commented on #173
@nicoddemus
See https://github.com/blueyed/pytest/#pytest-with-enhancements.

As for line numbers (which would be on-topic here), it was you that told me multiple times that nothing can be done there until some refactoring (for years IIRC), so I've started to hack on getting it for myself at least.  This has gone through multiple iterations already (pending https://github.com/blueyed/pytest/pull/2

[2020-03-31 12:04] nicoddemus commented on #173
Actually my question was about your "more serious" remark, meaning that the project and maintainers don't take things seriously, which I have issue about. But OK.

[2020-04-02 04:15] blueyed commented on #173
@nicoddemus I've meant "more serious" than a typical fork-for-PRs.  It was comparing it to forks in general, not pytest itself.

[2020-04-02 13:40] nicoddemus commented on #173
OK, thanks for the clarification.

[2020-04-03 08:20] igorbezr commented on #187
@truthdoug
Thank you very mutch for this temporary solution !

@RonnyPfannschmidt
Please clarify, it is correct that in pytest 5.4.2 this incompatibility with pytest-sugar hopefully will be fix ?

[2020-04-03 09:05] RonnyPfannschmidt commented on #187
@igorbezr yes

[2020-04-06 10:53] romulo-dbts opened #193 "INTERNALERROR after upgrading to Python to 3.8.2"
Hi there,

After upgrading my Python version to 3.8.2 I stated getting the following error when running my test suit. Removing pytest-sugar my test suit runs normally.

#### Command used to run py.test
````pytest my_project````

[code]

Pytest.ini
[code]

Requirements
[code]

[2020-04-06 11:00] RonnyPfannschmidt commented on #193
this is a known issue in combination with pytest 5.4.x that will be fixed in pytest 5.4.2

[2020-04-06 11:08] romulo-dbts commented on #193
Hi @RonnyPfannschmidt thank you for replying me so quick and letting me know about the plans for fixing it.

[2020-04-06 11:32] RonnyPfannschmidt commented on #193
Im on mobile so i can't crosslink the related issues on this tracker

[2020-04-06 11:35] romulo-dbts commented on #193
@RonnyPfannschmidt I believe that you are talking about this one https://github.com/Teemu/pytest-sugar/issues/187, right?

[2020-04-06 12:03] RonnyPfannschmidt commented on #193
Exactly, thank you

[2020-04-17 13:58] Lawouach commented on #187
Hello there,

I'm gettin ga little confused. What's the state of this? Are we waiting on pytest or this plugin to have a fix/release?

Cheers :)

[2020-04-17 14:00] ankostis commented on #187
On the same page, is it possible for a fix this issue so that `pytest-sugar` is backward & future compatible to `pytest`?

[2020-04-17 14:07] nicoddemus commented on #187
https://github.com/Teemu/pytest-sugar/pull/188 will make pytest-sugar use the recommended API, which is also backward compatible.

This is also true, `5.4.2` will also fix this.

[2020-04-17 14:09] Lawouach commented on #187
Thanks! :)

Right so, until either of them are released, we should limit to pytests 5.4.1 or below, right?

[2020-04-17 14:16] nicoddemus commented on #187
I think <5.4, as this was introduced in 5.4.0. 👍

[2020-04-17 14:16] Lawouach commented on #187
great. thank you.

[2020-04-20 16:38] MapleCCC commented on #187
For those who don't want to install in editable mode, you can drop the `-e` option when issuing the command propsed by @truthdoug .

[2020-04-25 23:38] Ambro17 commented on #193
Just came here to say i experienced the same bug with `python 3.7` and `pytest-sugar==0.9.2`

[2020-04-26 13:19] #187 closed

[2020-04-27 09:11] jakul opened #194 "pytest-sugar 0.9.3 incompatible with pytest 5.4"
pytest-sugar 0.9.3 crashes when running pytest with the `-k` flag. It works if I downgrade pytest back to 5.3.

#### Command used to run py.test
````py.test -k test````

#### Test file
[code]

#### Output
[code]

[2020-04-27 09:14] jakul commented on #194
This is a different issue than other (now fixed) incompatibility with pytest 5.4 - https://github.com/Teemu/pytest-sugar/issues/187

[2020-04-29 12:41] ankostis commented on #187
Just noting that as of today, latest pytest(5.4.1) & pytest-sugar(0.9.3) in PyPi still fail with:
[code]

[2020-04-29 13:54] jakul commented on #187
I've raised https://github.com/Teemu/pytest-sugar/issues/194 to track that error - this one is fixed

[2020-05-08 12:14] sheoak commented on #194
I also have the issue with the -m flag

[2020-05-12 00:36] MicahLyle commented on #194
`--lf` seems to also cause it.

[2020-05-21 11:14] ohelal opened #196 "The -q flag is not working"
When reporting an issue, include a way to reproduce the bug. For example:

#### Command used to run py.test
````py.test -q test_example.py````

#### Output
The normal output per test is displayed

Is this by design?

[2020-05-31 01:03] ofek commented on #194
@Teemu Any update?

[2020-05-31 07:10] asottile commented on #194
from a git bisect, this is the first bad commit -- I recommend reporting to pytest since it's a regression:

[code]

I had to bisect manually since I could only reproduce it in the foreground -- the example I was using to reproduce it "consistently" was

[code]

[2020-05-31 13:05] ofek commented on #194
Done, thanks! https://github.com/pytest-dev/pytest/issues/7287

[2020-05-31 18:07] nicoddemus commented on #194
Thanks for the report!

PR open: https://github.com/Teemu/pytest-sugar/pull/197

[2020-06-05 13:45] badarsebard commented on #174
I'm also running into this issue. I'm running an app in one container, and running pytest in another (there are reasons) and I just get the final output once the tests are completed and nothing streamed out.

[2020-06-07 14:45] thorstenkampe opened #198 "Extra empty line between tests on Windows in verbose mode"
[code]
in comparison, plain `pytest`:
[code]

[2020-06-20 13:08] voidus opened #200 "INTERNALERROR with pytest-sugar==0.9.3 and pytest-testmon==1.0.2"
Having both installed causes pytest to error out quickly. This only happens when both testmon and sugar are installed, so I'm posting this in both repos. I'll link the testmon issue here in a minute.

#### Test file
[code]

#### Output
[code]

[2020-07-04 15:27] kapilt opened #201 "sugar with pytest 5.4.3 and -k flag errors"
When reporting an issue, include a way to reproduce the bug. For example:

#### Command used to run py.test
[code]

works fine if uninstalling sugar. also fwiw, the rendered content in github obscures some of the traceback content in the raw content.

[2020-07-06 18:32] #134 closed

[2020-07-06 18:32] #180 closed

[2020-07-06 18:32] #194 closed

[2020-07-06 18:41] Teemu commented on #201
This has been fixed with 0.9.4 release

[2020-07-06 18:41] #201 closed

[2020-07-08 11:51] snejus opened #202 "General / non-technical improvement"
Wasn't sure where else to place this - hope it's fine.

While I do love the package and its looks within the terminal, I was a bit perplexed to see that the website does not have the same standards - the biggest issue being is that it isn't friendly to people that have issues with their vision. There isn't enough contrast and it's quite hard to see anything with the background moving all the time.

[2020-07-23 10:01] ssbarnea commented on #189
If that was not addressed in 4 months, adding this plugin to your CI pipelines can be considered a serious liability. Unmaintained plugins are a liability, even those actively maintained by a single person can be considered so.

Thanks is bit sad as I kinda liked how sugar liked.

[2020-07-26 08:13] Teemu commented on #202
Yeah I agree that the website needs work but this project has been on pretty bare-bones maintenance 😁.

[2020-07-29 11:02] graingert commented on #202
@Teemu the github readme is already very good in terms of contrast and readability, I'd recommend moving the remaining content from the website https://pivotfinland.com/pytest-sugar/ to the README.rst and adding a permanent redirect from https://pivotfinland.com/pytest-sugar/ to https://github.com/Teemu/pytest-sugar/ for SEO juice

[2020-08-10 08:25] C0DK opened #205 "Integration with pytest-subtests"
When using [pytest-subtests](https://github.com/pytest-dev/pytest-subtests) and pytest-sugar, the actual subtest name is not reported in the results.

## example:
[code]
### output
[code]
### Expected output
[code]

[2020-08-23 07:37] MartinThoma opened #207 "Markdown on PyPI"
When I go to the [pytest-sugar page on PyPI](https://pypi.org/project/pytest-sugar), I see that markdown is not rendered. The version there is 0.9.4 and if [there](https://github.com/Teemu/pytest-sugar/blob/master/pytest_sugar.py#L31) were no other changes, this version was introduced with 92ae9dee - the latest commit.

I'm uncertain why markdown is not rendered, though. I have a similar setup for

[2020-08-23 07:49] MartinThoma opened #208 "Going towards 1.0 ... or at least "Production/Stable""
According to [the projects PyPI page](https://pypi.org/project/pytest-sugar/), pytest-sugar is in `Alpha` stage.

But I see indicators that this might be outdated:

* Age: The [first commit](https://pypi.org/project/pytest-sugar/) was in 2013.
* Community: pytest-sugar has 611 stars, 49 forks, and 32 contributors on GitHub
* Usage: Over [5000 projects](https://github.com/Teemu/pytest-sugar/network

[2020-08-23 07:54] MartinThoma opened #209 "Broken build for 2.7 / 3.7"
The [Travis build](https://travis-ci.org/github/Teemu/pytest-sugar) is broken at the moment for 2.7 and 3.7. While I would drop the 2.7 support completely, it is interesting that 3.7 fails and 3.4 / 3.5 / 3.6 succeeds.

It's the `TestTerminalReporter.test_xdist` and `TestTerminalReporter.test_xdist_verbose` tests. Sadly, I have no clue what the issue is in there.

This one should be fixed before #

[2020-08-24 09:09] ssbarnea commented on #184
I recently moved two of my plugins there, the process is documented at https://docs.pytest.org/en/stable/contributing.html#submitting-plugins-to-pytest-dev -- I really liked at as it makes maintenance easier as other pytest maintainers can easily help.

[2020-08-25 17:41] Teemu commented on #205
Maybe you could try `--old-summary` as a fallback

[2020-08-25 17:43] Teemu commented on #209
I merged a PR that fixes the CI

[2020-08-25 17:43] #209 closed

[2020-08-25 17:45] Teemu commented on #198
Works for me (with Windows Terminal). Maybe it's your terminal?

[2020-08-25 17:45] Teemu commented on #196
I don't think it's by design, more like a case where I can't keep up with all the pytest flags :)

[2020-08-25 17:50] Teemu commented on #208
I am not sure if I could call this project really a stable yet since we don't support all flags that pytest does.

[2020-08-25 17:58] Teemu commented on #202
I am now redirecting the webpage to this Github

[2020-08-25 17:58] #202 closed

[2020-08-25 18:00] Teemu commented on #208
I updated the classification to beta

[2020-08-25 18:00] #208 closed

[2020-08-25 18:04] Teemu commented on #207
Interesting, I don't know what's going on with that. I read the documentations and I have the markdown tag correctly there.

[2020-08-25 18:05] thorstenkampe commented on #198
Empty lines are displayed in ConEmu and the standard Windows cmd terminal (conhost). In the new Windows Terminal (`WindowsTerminal.exe`) they are not displayed. Please reopen this issue.

[2020-08-25 18:07] Teemu commented on #200
Thanks for the detailed report ❤️.

[2020-08-25 18:08] Teemu commented on #193
I think this has been fixed right?

[2020-08-25 18:08] #193 closed

[2020-08-25 18:10] Teemu commented on #192
These were added by one of our contributors ❤️

[2020-08-25 18:10] #192 closed

[2020-08-25 18:11] Teemu commented on #190
This doesn't contain information on how to reproduce so have to close.

[2020-08-25 18:11] #190 closed

[2020-08-25 18:12] Teemu commented on #189
That was added.

[2020-08-25 18:12] #189 closed

[2020-08-25 18:17] Teemu commented on #166
Website has been removed

[2020-08-25 18:17] #166 closed

[2020-08-25 18:19] Teemu commented on #120
Closing an old issue. Feel free to open a new issue if issue still persists.

[2020-08-25 18:19] #120 closed

[2020-08-25 18:19] Teemu commented on #96
Closing an old issue. Feel free to open a new issue if issue still persists.

[2020-08-25 18:19] #96 closed

[2020-08-25 18:20] Teemu commented on #53
Closing an old issue. Feel free to open a new issue if issue still relevant.

[2020-08-25 18:20] #53 closed

[2020-08-25 18:20] #30 closed

[2020-08-25 18:26] Teemu commented on #198
I am not sure if this is worth debugging if it works for 99% terminals. I am totally open if anyone wants to do a proper investigation why this happens with ConEmu.

[2020-08-25 18:27] Teemu commented on #174
PYTHONUNBUFFERED?

[2020-08-25 18:28] Teemu commented on #174
Or do you mean just the fact that nothing gets displayed before test is ran (i.e. is this related to Docker)?

[2020-08-25 18:29] #29 closed

[2020-08-25 18:36] thorstenkampe commented on #198
As I wrote in my last comment, the issue is visible in the standard windows conhost terminal. That means it does _not_ work for 99% of terminals.

[2020-08-25 18:43] Teemu commented on #198
I recommend switching to a modern alternative.

[2020-08-25 20:28] MartinThoma opened #211 "Development Status"
Currently, the project says that it's in [`'Development Status :: 3 - Alpha'`](https://github.com/Teemu/pytest-sugar/blob/master/setup.py#L47). I would like to update this at least to Production/Stable as I feel this is the current state.

If it is Production/Stable, maybe [the version](https://github.com/Teemu/pytest-sugar/blob/master/pytest_sugar.py#L31) could also be set to 1.0.

What do you th

[2020-08-25 20:29] MartinThoma commented on #211
Ooops, sorry - duplicate of https://github.com/Teemu/pytest-sugar/issues/208#issuecomment-680177120

[2020-08-25 20:29] #211 closed

[2020-08-25 20:30] MartinThoma commented on #208
Sorry, I didn't see this and forgot I wrote it already :see_no_evil:

Cool! Did you push it?

[2020-08-25 20:41] MartinThoma commented on #209
Two 3.7 and one 3.8 build are still failing: https://travis-ci.org/github/Teemu/pytest-sugar

[2020-08-25 21:18] MartinThoma commented on #207
@Teemu Could you please answer the questions in the other issue? pypa/warehouse is the official repository of pypi.org; so the folks there should be able to give awesome support :-)

[2020-08-26 08:12] Teemu commented on #209
Yeah I noticed 😟

On Tue, 25 Aug 2020, 23:41 Martin Thoma, <notifications@github.com> wrote:

[2020-09-03 12:01] mgedmin commented on #207
From my previous encounters with this kind of problem, you need a few things in order to use Markdown descriptions on PyPI:

- a `long_description_content_type="text/markdown"` in your setup.py (which you have)
- a sufficiently recent setuptools version used to build the sdist (can't find an exact version number, sorry!)
- a sufficiently recent twine version (>= 1.11) used to upload the sdist to P

[2020-09-03 12:05] mgedmin opened #214 "The demo video is missing"
http://pivotfinland.com/pytest-sugar/img/video.gif now redirects to https://github.com/Teemu/pytest-sugar/img/video.gif which is a 404 page.

Suggestion: if you still have that file, add it to a git repository (this one if it's not too huge, or maybe some sibling repository pytest-sugar-demo) and link to it using a raw link like `https://raw.githubusercontent.com/Teemu/pytest-sugar/master/video.gi

[2020-09-03 18:52] MartinThoma commented on #207
@Teemu Could you answer the questions in https://github.com/pypa/warehouse/issues/8472 about the pytest-sugar build? Maybe they can help us to fix it.

[2020-09-12 15:28] pradyunsg commented on #207
I'm 100% sure that this was the case. :)

I suggest running `twine check` on the distributions before uploading them (which prints the warning appropriately).

[2020-09-12 23:36] graingert commented on #184
the contributing guidelines were recently changed: https://docs.pytest.org/en/latest/contributing.html#submitting-plugins-to-pytest-dev

[2020-09-13 11:10] graingert commented on #214
fyi it's still on wayback

https://web.archive.org/web/20200429105636/https://pivotfinland.com/pytest-sugar/img/video.gif

![image](https://user-images.githubusercontent.com/413772/93016557-11d33d00-f5ba-11ea-8ed8-91bd92205947.png)

[2020-09-13 11:12] graingert commented on #214
and it's only: 4.83 KB (4,949 bytes)

I'd recommend re-recording it with asciinema/svg-term-cli: https://github.com/marionebl/svg-term-cli

[2020-09-13 11:12] graingert commented on #214
<p align="center">
  <img width="600" src="https://cdn.rawgit.com/marionebl/svg-term-cli/1250f9c1/examples/parrot.svg">
</p>

[2020-10-21 17:41] C0DK commented on #205
Can i do something regarding the PR? @Teemu

[2020-10-21 17:44] C0DK commented on #196
I'd love to fix this as a hacktoberfest contribution. fix coming up.

[2020-10-21 20:27] Teemu commented on #205
I just need to do general maintenance on this project first

[2020-10-21 20:46] C0DK commented on #205
Alright. Say the word if you need help.

[2020-10-24 18:05] Teemu commented on #214
Oops, this happened when I redirected the website to this repo. Fixed now.

[2020-10-24 18:05] #214 closed

[2020-10-26 16:10] jarozajac opened #217 "Status line length miscalculation"
When multiple tests are in a single test file, the test result progress bar  gets printed for each test in the file, when using pytest-sugar in a windows powershell terminal. Example output:

Command:
[code]
Output:
[code]
The progressbar is rendered so, that it ends right on the right window margin (last character is used by the progressbar)

I could get it fixed locally by either setting LEN_RIG

[2020-11-03 11:04] pradyunsg commented on #184
A gentle nudge on this -- @Teemu would you still be interested in making this transfer?

[2020-11-05 17:55] Skylion007 opened #218 "Feature Request: Integration with Pytest-Parallel as well"
I am looking into use pytest-sugar and the fact that it supports pytest-xdist is great, but I was wondering if you were planning on supporting pytest-parallel as well. It has some advantages over pytest-xdist especially for multithreaded tests / concurrency tests.

It mostly works at the moment out of the box, the only thing is that the progress bar does not currently work. https://pypi.org/projec

[2020-11-10 08:38] liukangcc opened #219 "pytest-sugar not work in github actions"
when i use pytest-sugar in github actions docker, it seems look not work. The docker image install pytest already.

### Install log ###
[code]

#### Command used to run pytest
[code]

#### Test file
[code]

#### Output
[code]

[2020-11-26 13:06] sweh commented on #190
Hi Teemu,

I have the same error sometime. Looks like this is raised when calling tests with `pytest-xdist`.

[2021-01-03 22:56] ddnomad opened #220 "Long str/bytes values in pytest.mark.parametrize are printed in full and clutter output in --verbose mode"
Hey there. I've found an issue with how `pytest-sugar` handles `pytest.mark.parametrize` with really long string / bytes values. Long story short, it prints the full value, even if it is really-really long, which is slightly inconvenient. This happens only when running with `--verbose`.

Any chance this can be fixed? A way to limit a maximum amount of parameter characters that are printed would wo

[2021-01-03 23:07] ddnomad commented on #220
Update: This seems to be an issue with `pytest` as well. I'll be searching for possible fixes but this issue can be closed (would probably make more sense to report it to `pytest` directly).

[2021-01-03 23:07] #220 closed

[2021-02-10 10:21] amolgawai opened #221 "purest-sugar surpasses hypothesis statistics"
I am running tests with [hypothesis](https://hypothesis.readthedocs.io/en/latest/index.html) and want to see the statistics hypothesis provides. It seems that purest-sugar doesn't show the statistics.

#### Command used to run pytest
````pytest --hypothesis-show-statistics````

#### Output
[code]

If I use -p no:sugar, the statistics are shown properly.

Can purest-sugar show proper output for hyp

[2021-02-25 16:03] eriol commented on #219
@thread-liu you can use `--force-sugar` to enable sugar inside a container, by default the check `sys.stdout.isatty()` made here[¹] will return `False`, so pytest-sugar will be disabled.

[¹] https://github.com/Teemu/pytest-sugar/blob/master/pytest_sugar.py#L159

[2021-04-05 01:52] stas00 opened #222 "invalid reports when used with `-rA`, repeats 3 times with instafail"
pytest-sugar reports strange things when used with `-rA`

#### Command used to run pytest
````pytest test_example.py````

#### Test file
[code]

#### Output
[code]

### with -rA

[code]

2 problems:

1. stdout is dumped **twice**
2. PASSED report is printed **trice**

### If combined with `instafail`

It now also reports the test 3 times! ✓✓✓

[code]

W/o `-rA`

[code]

Thanks.

[2021-04-05 08:48] ssbarnea commented on #184
@Teemu Any reason for not transferring the sweetener under pytest-dev?

[2021-08-16 13:17] hmaarrfk opened #223 "Print test name before result in verbose mode"
Without pytest-sugar, when running pytest in verbose mode, the name of the current test is printed immediately.

This is very useful for long running tests since you know which test is hanging, and which test might be killed.

However, with pytest-sugar, the name of the test is only printed when the test succeeds.

I've provided an example of the code to reproduce this as well some minimal environ

[2021-09-07 14:09] auvipy opened #224 "New co maintainer"
We use this library in celery project. I would like to help as co maintainer off this project.

[2021-09-07 18:23] pranav165 opened #225 "Incompatible with pytest-rerunfailures"
I use pytest-rerunfailures==9.1.1 to rerun in case a failure is encountered. While trying pytest-sugar along with pytest-reruns , following exception occurs

Command to execute -
pytest -k api -n 10  --force-sugar **--reruns 1** --alluredir=reports/allure-results --html=reports/results.html --self-contained-html --junitxml=reports/junit_report.xml

Test session starts (platform: win32, Python 3.9.

[2021-09-09 17:57] kloczek opened #226 "Missing git tag"
According to https://pypi.org/project/pytest-sugar/ latest version is 0.9.4 however there is no here in the repo tag for that version.

[2021-10-29 19:00] kevinmarsh commented on #184
@Teemu I really love the "show failing test output instantly" feature and was going to incorporate `pytest-sugar` into a project but the risk of it breaking in future versions of `pytest` without being resolved is a blocker for me. Transferring ownership to `pytest-dev` (or more active maintainership here) would help reduce that risk and would make it more likely for me (and hopefully others) to s

[2021-11-30 02:08] MichaelDanielTom commented on #190
I'm also getting the same error but only when running tests that contain some type of async code (like tests that use the mark `@pytest.mark.asyncio`) with xdist like `pytest -n auto --dist loadscope`. One thing to note is that it always happens at the end of the test run, regardless of if the tests all pass or if some of them fail. Here's the complete list of pytest related dependencies I've I've

[2021-12-01 18:39] graingert commented on #184
@ssbarnea I tried to use a PEP 541 request to move this to pytest-dev but it failed on reachability because @Teemu replied privately

[2021-12-14 05:10] macintacos opened #227 "DeprecationWarning for LooseVersion usage"
This is mostly just a "heads up", using this with Python 3.10, I'm getting a Deprecation warning that looks like the following:

[code]

It's pretty noisy in my test output, hope it can be fixed.

[2021-12-20 13:00] decaz commented on #227
Solution can be found here: https://github.com/marshmallow-code/marshmallow/commit/a63c28edde1e3f1f522aab8a7de231230786ebc1.

[2021-12-30 10:40] ssbarnea commented on #184
It seems that I was not wrong to stop adopting sugar to other project as that refusal and lack of transparency is clearly not a good sign.

[2021-12-30 11:38] RonnyPfannschmidt commented on #184
Closing as the maintainer is not interested,

[2021-12-30 11:39] RonnyPfannschmidt commented on #184
Whops, not under pytest-meta

[2021-12-30 11:56] #184 closed

[2022-01-08 19:44] Tbruno25 commented on #223
I also think this would be a great enhancement and is very useful.

[2022-01-11 04:02] binbinlv opened #229 "Sugar does not show the right case percentage when combined with "--workers""
When reporting an issue, include a way to reproduce the bug. For example:

#### Command used to run pytest
pytest ./ --tags L0 --workers 4 --host ***

#### Test file
Any test cases

#### Output

It is always 0%

[code]

[2022-01-26 11:29] mxschmitt commented on #224
cc @Teemu

[2022-02-18 13:07] kbroch-rivosinc commented on #227
I'm looking for a workaround to disable this warning and wondering if anyone has done it?

[This](https://docs.pytest.org/en/6.2.x/warnings.html#deprecationwarning-and-pendingdeprecationwarning) appears to only be related to warnings in the user code.  I tried it anyways and didn't change output.

Other failed attempts:

* `pytest --verbose --disable-pytest-warnings`
* `pytest --verbose --disable-

[2022-02-22 18:21] AngellusMortis opened #232 "PytestRemovedIn8Warning for py.path.local"
Started getting this in my test runs after upgrading pytest. Looks like it is something that will need to be fixed before pytest==8.

Link referenced in deprecation warning: https://docs.pytest.org/en/latest/deprecations.html#py-path-local-arguments-for-hooks-replaced-with-pathlib-path

[code]

[2022-03-08 20:10] max-sixty commented on #224
@graingert @auvipy do you think it might be time to fork it? It's a great project, it would be a shame to see its demise. (Ofc if @Teemu wanted to restart maintenance, that would be awesome)

[2022-03-08 20:13] graingert commented on #224
Rather than a fork, energy seems to be coalescing behind https://github.com/nicoddemus/pytest-rich

[2022-03-08 20:46] max-sixty commented on #224
Nice, thanks @graingert , it looks good!

[2022-04-04 20:42] danielhoherd commented on #225
Duplicate of #139

[2022-04-05 04:33] Cielquan commented on #227
Fixed by #230

[2022-04-09 19:39] kloczek commented on #226
gentle ping 😃

[2022-05-21 16:05] kloczek commented on #226
Really please add at least last release tag.
Without that it is now hard to track what has been added/fixed since last release 😞

[2022-05-21 16:07] kloczek opened #236 "0.9.4: `DeprecationWarning` warnings on use `pytest-sugar`"
Looks like latest version emits `DeprecationWarning` warnings
[code]

[2022-05-25 19:37] hashstat commented on #236
It looks like this was fixed by ee02ada.

[2022-05-25 20:28] kloczek commented on #236
Just tested whole https://github.com/Teemu/pytest-sugar//pull/230
Here is result:
[code]

[2022-05-25 20:29] kloczek commented on #236
And if you are around 😋
Id it possible to sort out https://github.com/Teemu/pytest-sugar/issues/226 ?

[2022-06-28 17:32] hoodmane opened #238 "Upload wheel to PyPI for v0.9.4"
I notice that pytest-sugar v0.9.2 has a wheel but v0.9.4 does not. Could you upload a wheel for v0.9.4?

[2022-07-07 18:15] verilogtester opened #239 "progress bar is not visible as expected."
Running tests using pytest, and getting these special symbols� in the test results displayed on the terminal. any idea how to get rid of these symbols

Running test on the Linux terminal with the following configuration.
% echo $TERM
xterm-256color

#### Command used to run pytest
````pytest test_example.py````

#### Test file
[code]

#### Output
[code]

Let me know if you need more details here.

[2022-07-10 18:13] #139 closed

[2022-08-17 15:17] millerthegorilla commented on #191
this is probably the same fault that is reported in #222 .  I have just started using pytest-sugar and when I pytest with any combination of the -r flag, I get output three times...
[code]
and I get:
[code]
and
[code]
.... :(

[2022-09-29 11:10] samuelcolvin commented on #224
pytest-sugar is awesome, @Teemu would be great if you could add more maintainers. I'd be happy to help too.

I hoped pytest-rich would be a solution, but development of that seems to have stopped too.

Another option would be to move pytest-sugar to the pytest org, we'd need to check if they were willing to accept the repo, but if so, I think that would be the best solution.

[2022-09-29 12:08] hugovk commented on #224
The [checklist](https://docs.pytest.org/en/7.0.x/contributing.html#submitting-plugins-to-pytest-dev) for submitting to the pytest org is virtually complete:

* [x] PyPI presence with packaging metadata that contains a pytest- prefixed name, version number, authors, short and long description.

* [x] a [tox configuration](https://tox.readthedocs.io/en/latest/config.html#configuration-discovery) for

[2022-10-17 15:09] stanislavlevin opened #240 "Self-tests fail against pip 22.3"
[code]

https://pip.pypa.io/en/stable/news/#v22-3:

[2022-10-19 10:35] samuelcolvin commented on #224
I know pytest-sugar runs on (at least) ubuntu, macos, windows since I use it on CI on those platforms, so I think the checklist is complete.

[2022-10-19 11:51] RonnyPfannschmidt commented on #224
With the current track record i don't want to have it in pytest-dev

[2022-10-19 11:52] samuelcolvin commented on #224
Which track record?

[2022-10-19 13:19] RonnyPfannschmidt commented on #224
maintainer communication and maintenance, currently i consider pytest-sugar a dead project that someone else would have to maintain

pytest-dev is not supposed to resurrect "zombies" - the people in it didn't sign up to collect maintenance liabilities

[2022-10-19 13:25] samuelcolvin commented on #224
I totally get where you're coming from, and this entire question might be irrelevant if the current owner @Teemu isn't willing to move the project or add other maintainers.

But personally, as a day-in-day-out user (and massive fan :pray:) of pytest and pytest-sugar I think pytest-sugar enormously improves pytest, so I wondered if the pytest organisation might be willing to be a new home for this

[2022-10-19 13:31] RonnyPfannschmidt commented on #224
in case additional maintainers demonstrate the project is alive and well i'm happy to welcome it

[2022-10-25 15:21] JelleZijlstra opened #241 "Breaks when py is not installed"
pytest 7.2.0, released just now, makes `py` an optional dependency (https://docs.pytest.org/en/stable/changelog.html#pytest-7-2-0-2022-10-23), but `pytest-sugar` still relies on it, leading to a crash if `py` is not installed:

[code]
(Invoking `pytest` in a env with `pytest-sugar` but not `py` installed.)

[2022-10-25 17:37] foxx commented on #241
I'm getting the same error, and the problem indeed goes away when installing `py`.

[2022-10-26 13:37] alexcjohnson commented on #241
The fix is pretty simple - @Teemu does #242 look OK?

[2022-10-26 14:20] ygworldr commented on #241
The root issue is the [ReDoS in py library when used with subversion](https://github.com/advisories/GHSA-w596-4wvx-j9j6) in `1.11.0`. There are no patched versions as yet. Simply adding that version will cause things like dependabot to whine about broken dependencies.

[2022-10-26 14:27] ygworldr commented on #241
This looks good to me. My apologies for the earlier confusion!

[2022-10-27 10:37] Alcolo47 opened #243 "Don't work any more with pytest 7.2.0"
When reporting an issue, include a way to reproduce the bug. For example:

#### Command used to run pytest
[code]

[2022-10-27 10:39] Alcolo47 commented on #243
Probably related to #242

[2022-10-27 15:08] alexcjohnson commented on #243
@Alcolo47 duplicate of #241?

[2022-10-29 13:44] 0x78f1935 commented on #243
Same here
[code]

If you need a quick-fix: Downgrading `pytest-xdist==3.0.2` to `pytest-xdist==2.5.0` did the trick for me.

[2022-11-01 15:08] tobiasmcnulty commented on #243
We are having the same issue (`AttributeError: module 'py' has no attribute 'std'`); installing the `py` package manually fixes it. But I imagine `pytest-sugar` should depend on `py` directly now or vendor the applicable code (as pytest did in 7.2.0: https://docs.pytest.org/en/7.2.x/changelog.html#deprecations).

[2022-11-01 15:42] thewchan commented on #241
Will a release on PyPI be made soon to push this fix?

[2022-11-01 16:03] ygworldr commented on #241
Adding `py` as a dependency does not solve the problem of the CVE. Whatever you think about that one, it is a problem… ¯\\\_(ツ)\_/¯

The correct fix (by @alexcjohnson in [242](https://github.com/Teemu/pytest-sugar/pull/242)) still needs to be merged…

[2022-11-01 16:08] thewchan commented on #241
Got it, no worries we can wait just wondering

[2022-11-01 16:32] alexcjohnson commented on #243
@tobiasmcnulty see #241 - `py` has a known vulnerability so the ideal solution would avoid it entirely - hence #242

[2022-11-01 16:38] tobiasmcnulty commented on #243
Even better! 🎉

[2022-11-03 13:17] samuelcolvin commented on #224
After @RonnyPfannschmidt's completely reasonable response, and having a look at pytest-sugar's code, I decided it's not worth the effort required to maintain it (at least for me).

I also realised I didn't care about much of the stuff that makes pytest-sugar output "fancy", but also very complex to maintain.

I've therefore created [pytest-pretty](https://github.com/samuelcolvin/pytest-pretty) whi

[2022-11-03 16:05] #241 closed

[2022-11-03 16:40] Teemu commented on #224
Hey 👋

As you might have noticed, I don't have much interest in maintaining this plugin. It works for my personal use as it is so I haven't had much motivation to fix issues people have. After all, this is completely voluntary work and not sponsored by any corporate (applies to most of us, of course) 😕

Although I wouldn't say it's completely dead, I do give it annual updates.

I can relate to thi

[2022-11-03 16:43] samuelcolvin commented on #224
Thanks @Teemu for the response, and kind words.

I agree, an easy way to print some kind of error summary or traceback in real time as errors happen and adding line number to error summary would be huge wins.

Thanks again for pytest-sugar, I've used it masses over the last 5 years :raised_hands:.

[2022-11-03 16:46] RonnyPfannschmidt commented on #224
bits of pytest are already moving in the direction of sugar,
i'd love to make it more easy to do things like sugar with less internals pain (time is a constraint)

in particular i'd like to enable having rich/textual based ux for pytest thats not a utter pain

[2022-11-03 17:48] thewchan commented on #241
@ygworldr with the fix merged, can we expect a release on PyPI soon?

[2022-11-03 19:15] ygworldr commented on #241
Why are you asking me? I have nothing to do with `pytest-sugar`. I am just a happy user.

[2022-11-03 20:03] thewchan commented on #241
Sorry you replied earlier so I assumed you might have been one of the maintainer. @Teemu do you have any idea?

[2022-11-03 21:50] justinmayer commented on #241
@thewchan: As the maintainer and person who merged the fix, @Teemu is presumably well-aware that folks can't take advantage of said fix until it has been published to PyPI. So let's not pester @Teemu and instead wait patiently for the package to be published.

[2022-11-03 22:05] thewchan commented on #241
Understood, we just have code in production waiting in this and I'm trying to gauge if I should wait or downgrade on my end.

[2022-11-04 16:13] ygworldr commented on #241
I am in the same boat. I just removed `pytest-sugar` until the fixed version is out. Furthermore, I looked at a [few alternatives](https://github.com/Teemu/pytest-sugar#similar-projects). However, they are (sadly) all far too immature to use at the moment.

[2022-11-04 16:16] thewchan commented on #241
@ygworldr Thanks for sharing! Yeah I'm okay for waiting a bit I think, thanks all

[2022-11-05 08:06] Teemu commented on #243
A new version was released.

[2022-11-05 08:06] #243 closed

[2022-11-05 08:08] Teemu commented on #241
Released 0.9.6

[2022-11-05 08:25] Teemu commented on #224
@justinmayer reached out and offered to help. I gave him maintainer access.

[2022-11-05 08:41] #239 closed

[2022-11-05 08:43] #225 closed

[2022-11-05 08:44] #219 closed

[2022-11-05 08:46] Teemu commented on #222
pytest-sugar is actually a fork of pytest-instafail so you probably don't want both of them to be installed.

[2022-11-05 08:46] #222 closed

[2022-11-05 08:47] #227 closed

[2022-11-05 08:48] Teemu commented on #232
I think this is fixed afaik

[2022-11-05 08:48] #232 closed

[2022-11-05 08:48] Teemu commented on #236
I think this is fixed afaik

[2022-11-05 08:48] #236 closed

[2022-11-05 08:51] Teemu commented on #229
This is a duplicate of https://github.com/Teemu/pytest-sugar/issues/218 right?

[2022-11-05 08:51] #229 closed

[2022-11-05 08:53] Teemu commented on #226
Duplicate of https://github.com/Teemu/pytest-sugar/issues/137

[2022-11-05 08:53] #226 closed

[2022-11-05 12:41] kloczek commented on #137
Any update?

[2022-11-06 12:20] auvipy commented on #224
thank I received maintainer ship as well. thanks

[2022-11-06 16:36] Teemu commented on #240
Fixed

[2022-11-06 16:36] #240 closed

[2022-11-07 08:41] Natim commented on #137
I think that's the way the project is released that makes it so. @Teemu would you consider using `zest.releaser` for your upcoming releases? It guess it would fix the issue at hand. If you want to I can take some time to backfill all the existing tags.

[2022-11-07 10:42] ygworldr commented on #241
Thank you! :heart:

[2022-11-07 14:58] justinmayer commented on #137
Hey @Natim! 👋 In a separate message to @Teemu, I recently made a similar proposal to use [AutoPub](http://justinmayer.com/projects/autopub/) to automate the release process and had intended to submit a PR to configure this project appropriately. That said, it doesn't matter to me which tool is used — streamlining the release process is the important part. 💫

Either way, back-filling the existing t

[2022-11-07 18:02] Teemu commented on #137
I didn't know about `zest.releaser`, that def looks handy. I have done all my changelog & versioning manually so far. 😅

I think AutoPub could be worth trying and would actually empower others. As far as the git tagging goes, I haven't had the need for it personally. Of course, if we switch to some proper deployment flow, we get that for free so that's nice.

[2022-11-07 18:04] Natim commented on #137
It is mainly useful for dependabot or renovabot to display a changelog during dependencies upgrade. It also allow to go directly at the right source code place when we find a bug and want to read the code.

[2022-11-08 15:56] #224 closed

[2022-11-08 18:41] Teemu commented on #130
I think this was solved.

Let me know if it is still relevant

[2022-11-08 18:41] #130 closed

[2022-11-09 11:39] blueyed commented on #207
Closing as per previous comment.

[2022-11-09 11:39] #207 closed

[2022-11-11 17:29] stas00 commented on #222
Thank you for the explanation of the problem, @Teemu

Should pytest-sugar print a warning or assert if both are detected - how would other users know that they must not use the 2 together?

[2022-11-12 06:39] Teemu commented on #222
Yeah we could do that 👍

On Fri 11. Nov 2022 at 19.29, Stas Bekman ***@***.***> wrote:

[2022-11-24 17:55] 12rambau opened #261 "pytest ignores pytest-sugar when launch with coverage"
I am using coverage to run pytest and it seems that it prevents the pytest-sugar plugin to start. Is there a way to force it ?

#### Command used to run pytest
[code]

#### Output
The results of my CD/CI is still using vanilla pytest: https://github.com/12rambau/sepal_ui/actions/runs/3542697512/jobs/5948468920

[2022-11-24 18:10] 12rambau commented on #261
I found a solution in your tests: https://github.com/Teemu/pytest-sugar/blob/461104cd6e6081e5050bb6e6c70c9a0561c3dbf6/test_sugar.py#L39

So now I run:

[code]

Which almost works. Now the remaining issue is that the colors are not displayed from the pytest-sugar side. Are you listening to an env variable or a parameter for that ?

[2022-11-24 18:15] #261 closed